.nav-item1{
    margin-right: 50px;
    text-decoration: none;
}
.nav-item2{
    text-decoration: none;
    margin-right: 50px;
}
.navitem3{
    text-decoration: none;
}
*{
    text-decoration:none;
    text-align:center;
}
.under{
    text-decoration: none;
    color: aliceblue;
}
