/* img{
    height: 30vh;
    float: right;
}
.heaDing{
    text-align: center;
}
.bg-danger{
    box-shadow: red 0px 0px 0px 10px;
    border-radius: 20px;
}
.card-body2{
    box-shadow:aqua 0px 0px 0px 10px;
    border-radius: 20px;
}
.card-body3{
    box-shadow: green 0px 0px 0px 10px;
    border-radius: 20px;
}
.card-body4{
    box-shadow: yellow 0px 0px 0px 10px;
    border-radius: 20px;
} */
